<!-- <section class="footersec">

    <div class="container footerBody">
        <div class="row">
            <div class="col-3 div1">
                <span><b>V-7.0.0</b></span>
            </div>
            <div class="col-6 div2">
            </div>
            <div class="col-3 div3">
                <a matTooltip="Contact Us" class="contact_icon">
                    <img class="mr-2" src="..//..//assets/images/contact_us.png" alt="Contact us icon">
                </a>

                <a matTooltip="What's new" class="version_icon">
                    
                    <img src="..//..//assets/images/version.png" alt="Version Icon">
                </a>
            </div>
        </div>
    </div>

</section> -->

<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h6 class="d-inline font-weight-bolder mr-4">V - {{newVersion}}</h6>
                <span class="cursor-pointer">
                    <a matTooltip="Contact us - sales@servx.global" href="mailto:sales@servx.global">
                        <img class="mr-4 mb-1" src="..//../assets/images/email.png" width=20 alt="Contact us icon">
                    </a>
                </span>
                <span class="cursor-pointer">
                    <a matTooltip="What's new" href="https://tcube.io/#/release-notes" target="_blank">
                        <img class ="mb-1" src="..//../assets/images/version.png" alt="Version Icon" width="15">
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>