<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h3 class="page-title">Manage Transactions</h3>
        </div>
        
        <div class="col-md-12 pt-2">
            <div>
                <!-- ********* search filter ************ -->
                <div class="col-4 filter-form-sec pr-0">
                    <mat-form-field appearance="standard">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search Transactions ..."
                            #input>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="transactions">
    <div class="table-section">
        <div class="container-fluid">
            <div class="row secondrow">
            </div>
            <div class="orgTable mb-5">
                <div class="example-container mat-elevation-z8">
                    <div class="tablescroll">
                        <mat-table [dataSource]="DataSource" matSort>
                            
                            <ng-container matColumnDef="transaction_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Id
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.transaction_id != null">{{element.transaction_id}}</span>
                                    <span *ngIf="element.transaction_id == null">-</span>
                                </mat-cell>
                            </ng-container>
                           
                            <ng-container matColumnDef="orgName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="td_text_lowercased"> <a
                                        class="link_td td_text_firstltr_capitalized"
                                        matTooltip="View organization details"
                                        (click)="openVieworg(element.org_id)">{{element.org_name}}</a></mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="plan">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Plan
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.payment_plan != null">{{element.payment_plan}}</span>
                                    <span *ngIf="element.payment_plan == null">-</span>
                                 </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Amount($)
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="amount">{{element.amount}}</span> </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="created_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Date
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> 
                                    <span class="pr-1">{{element.created_time | date:"dd-MM-yyyy hh:mm aa"}}</span>
                                </mat-cell>
                            </ng-container>                            
                            <ng-container matColumnDef="payment_option">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Gateway
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.key_note != null">{{element.key_note}}</span>
                                    <span *ngIf="element.key_note == null">-</span>
                                </mat-cell>
                            </ng-container>    
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="pay-status-btn">
                                    <button mat-flat-button class="success-btn" *ngIf="element.status == 'success'">Success</button>
                                    <button mat-flat-button class="fail-btn" *ngIf="element.status == 'failed'">Failed</button>
                                    <button mat-flat-button class="others" *ngIf="element.status != 'success' && element.status != 'failed'">{{element.status}}</button>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="pay-action-btn">
                                    <button mat-flat-button class="download-btn" disabled *ngIf="element.invoicepPdfContent == null" matTooltipPosition="right" matTooltip="Not available">Receipt</button>
                                    <button mat-flat-button class="download-btn" *ngIf="element.invoicepPdfContent != null"(click)="downloadInvoicePdf(element.invoicepPdfContent)" matTooltipPosition="right" matTooltip="Download">Receipt</button>
                                    <!-- <button mat-flat-button class="view-btn" *ngIf="element.receipt_url != null" (click)="viewReceipt(element.receipt_url)">
                                        View
                                    </button>
                                    <button mat-flat-button class="view-btn" *ngIf="element.receipt_url == null"
                                        matTooltip="Not available">
                                        View
                                    </button> -->
                                    <button class="resend_btn"   *ngIf="element.is_mail_send == true"
                                    (click)="getEmpIdToResendMail(element.org_id)">Resend Mail</button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row">
                            </mat-row>
                        </mat-table>
                    </div>

                    <div *ngIf="allTransactions.length == 0 && noDataMsgPlan == true" class="text-center text-danger alert-danger no-search-match p-3">
                        {{noDataMsg}}
                    </div>
                    <div *ngIf="Filter" class="text-center text-danger alert-danger no-search-match p-3">
                        No Data Matching For "{{this.filterData}}"
                    </div>
                    <mat-paginator class="paginator" #MatPaginator [pageSize]="pageSize" (page)="changePage($event)"
                        [pageSizeOptions]="tablePaginationOption">
                    </mat-paginator>

                </div>
            </div>

        </div>
    </div>
</section>