<div class="delete">
  <div *ngIf="approve">
    <div class="dialog-header">
      <h3 class="page-title">{{approveHeadMsg}}</h3>
      <span class="pull-right cls-btn">
        <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
          type="button">close</mat-icon>
      </span>
    </div>
    <div mat-dialog-content>
      <div class="mb-1 dialog-question">{{approvecontentMsg}}</div>
      <form [formGroup]="approveFormGroup">
        <!-- <div class="row justify-content-center"> -->
          <mat-form-field appearance="fill" class="mt-1">
            <mat-label>Comments</mat-label>
            <textarea rows="1" matInput name="comments" formControlName="comments"></textarea>
          </mat-form-field>
        <!-- </div> -->
      </form>
    </div>
    <div align="end" class="dialog-btns pr-3">
      <button mat-flat-button color="warn" mat-dialog-close class="mx-2">Cancel</button>
      <button mat-flat-button (click)="changeStatus()" class="cnfm-btn">Approve</button>
    </div>
  </div>
  <div *ngIf="reject">
    <div class="dialog-header">
      <h3 class="page-title">{{rejectHeadMsg}}</h3>
      <span class="pull-right cls-btn">
        <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
          type="button">close</mat-icon>
      </span>
    </div>
    <div mat-dialog-content>
      <div class="mb-1 dialog-question">{{rejectContentMsg}}</div>
      <form [formGroup]="rejectFormGroup" >
        <!-- <div class="row justify-content-center"> -->
          <mat-form-field appearance="fill" class="comment-field">
            <mat-label>Comments</mat-label>
            <textarea rows="1" matInput name="comments" formControlName="comments" required></textarea>
            <!-- <mat-error>Field is required!</mat-error> -->
            <mat-error> <div 
              *ngIf="rejectFormGroup.get('comments').hasError('required')">
              {{requiredMessage}}
          </div>
          <div
              *ngIf="rejectFormGroup.get('comments').hasError('whitespace')">
              {{validMessage}}
          </div>
        </mat-error>
          </mat-form-field>
        <!-- </div> -->
      </form>
    </div>
    <div align="end" class="dialog-btns pr-3">
      <button mat-flat-button color="warn" mat-dialog-close class="mx-2">Cancel</button>
      <button mat-flat-button (click)="changeStatus()" [disabled]="rejectFormGroup.invalid" class="cnfm-btn">Reject</button>
    </div>
  </div>

</div>