 
 <!------ bulk delete business_letter ----->

<div class="delete">
    <div class="dialog-header">
      <h3 class="page-title pull-left">Letter Bulk delete</h3>
      <span class="pull-right cls-btn ">
        <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color" type="button">close</mat-icon>
      </span>
    </div>
    <div mat-dialog-content>
      <div>Are you sure, you want to delete the letter(s)?</div>
      <!-- <small style="color: rgb(248, 74, 74)">will be deleted under this Internship Letter details</small> -->
    </div>
    <div align="end" class="dialog-btns p-3">
      <button mat-flat-button color="warn" mat-dialog-close class="mx-2">Cancel</button>
      <button mat-flat-button  (click)="deleteDetails()" class="cnfm-btn">Confirm</button>
    </div>
  </div>
