<div class="dialog-header">
    <h3 class="page-title" *ngIf="!publicRelease">publish</h3>
    <h3 class="page-title" *ngIf="publicRelease">Republish</h3>
    <span class="pull-right cls-btn">
      <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
        type="button">close</mat-icon>
    </span>
  </div>
  <section>
    <div mat-dialog-content>
      <div *ngIf="!publicRelease" class="dialog-question">{{publishMsg}}</div>
      <div *ngIf="publicRelease" class="dialog-question">{{republishMsg}}</div>
    </div>
    <div align="end" class="dialog-btns p-3">
      <button mat-flat-button color="warn" mat-dialog-close class="mx-2">No</button>
      <button mat-flat-button (click)="updatePublishReleaseNotes()" class="cnfm-btn" *ngIf="!publicRelease">Yes</button>
      <button mat-flat-button *ngIf="publicRelease" (click)="updateRePublishReleaseNotes()" class="cnfm-btn">Yes</button>
    </div>
  </section>
