<div class="delete">
    <div class="dialog-header">
      <h3 class="page-title">Org Activate</h3>
      <span class="pull-right cls-btn">
        <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
          type="button">close</mat-icon>
      </span>
    </div>
      <div mat-dialog-content>
        <div>Are you sure want to Activate ?</div>
        <form [formGroup]="activateformgroup" >
          <div>
            <mat-form-field appearance="fill" style="width: 100% ;">
              <mat-label>Comments</mat-label>
              <textarea rows="1" matInput name="comments" formControlName="comments"></textarea>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div align="end" class="dialog-btns p-3">
        <button mat-flat-button color="warn" mat-dialog-close class="mx-2">Cancel</button>
        <button mat-flat-button  (click)="deleteDetails()" class="cnfm-btn">Confirm</button>
      </div>
    </div>