<!-- <html>

<head>
    <meta charset="utf-8">
    <title>Page not found</title>
</head>

<body>-->
<section class="container maintenace-page">
    <!-- <div class="row"> -->
    <!-- <div class="col-2"></div> -->
    <div class="content">
        <img src="../../assets/images/404_error_1.jpg" alt="maintenance image">
        <div class="mt-4">
            <div>
                <h1><b>Oops! Unable to get details</b></h1>
            </div>
            <div class="mt-1">
                <h3><b>Wait for further updates!</b></h3>
            </div>
        </div>
        <div class="mt-2">
            <a [routerLink]="['/login']">loge-In page</a>
            <button (click)="goBack()">Previous page</button>
            <button mat-icon-button class="ml-3" [routerLink]="['/dashboard']" matTooltip="Refresh to dashboard"
                id="refresh">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
    <!-- <div class="col-2"></div> -->
    <!-- </div> -->
</section>
<!--</body>

</html> -->