<!-- <div class="header">
    <h6 class="pull-left" style=" padding-top: 16px;font-weight: bold;margin-left: 1em; color: #0e5eb8;">Change Password
    </h6>
</div> -->

<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h3 class="page-title">Change Password</h3>
        </div>
    </div>
    <div class="col  back_button">
        <div class="pfr">
            <button mat-icon-button class="backbtn" matTooltip="Back to previous page" matTooltipPosition="left" (click)="backToPreviousPage()"><img src="../../../../assets/images/back.png"
                    class="ph_back_arrow_img"></button>
        </div>
    </div>
</div>


<section class="container-fluid  password_change_section mb-150">
    <div class="input-content-wrap card card-bg p-3 mt-3">
        <form class="form-right" [formGroup]="passwordform">
            <div class="row">
                <!-- <div class="ml-3 lablestyle col-2 mt-2">Old Password</div> -->
                <div class="ml-3 labelstyle col-2">Old Password</div>
                <div class="col-8">
                    <input type="password" class="input-field" matInput [type]="hideOldPwd ? 'password':'text'" required
                        formControlName="oldpassword"  (keydown)="OldSpace($event)" autocomplete="off"
                        readonly onfocus="this.removeAttribute('readonly');" placeholder="Old password *">
                    <span class="col-1 pull-right mat-icon-hide" mat-icon-button matSuffix (click)="showOrHidePassword('oldpassword')"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPwd" >
                        <mat-icon class="mat-eye-icon">{{hideOldPwd ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </span>
                    <p class="mat-error"
                        *ngIf="passwordform.controls['oldpassword'].invalid && passwordform.controls['oldpassword'].errors.required && (passwordform.controls['oldpassword'].dirty || passwordform.controls['oldpassword'].touched)">
                        {{requiredMessage}}
                    </p>
                    <p class="mat-error"
                        *ngIf="!passwordform.get('oldpassword').hasError('whitespace') && passwordform.controls['oldpassword'].hasError('minlength')">
                        {{minLengthMessage}}
                    </p>
                    <small class="mat-error"
                    *ngIf="passwordform.get('oldpassword').hasError('whitespace')">{{validFormatMessage}}
                </small>

                </div>
            </div>

            <div class="row pt-4">
                <!-- <div class="ml-3 lablestyle col-2 mt-2">New Password</div> -->
                <div class="ml-3 labelstyle col-2">New Password</div>
                <div class="col-8">
                    <input type="password" class="input-field" matInput [type]="hideNewPwd ? 'password':'text'" required
                        formControlName="newpassword" (ngModelChange)="newPassword()"  (keydown)="NewSpace($event)" autocomplete="off"
                        readonly onfocus="this.removeAttribute('readonly');" placeholder="New password *">
                    <span class="col-1 pull-right mat-icon-hide" mat-icon-button matSuffix (click)="showOrHidePassword('newpassword')"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPwd">
                        <mat-icon class="mat-eye-icon">{{hideNewPwd ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </span>
                    <p class="mat-error"
                        *ngIf="passwordform.controls['newpassword'].invalid && passwordform.controls['newpassword'].errors.required && (passwordform.controls['newpassword'].dirty || passwordform.controls['newpassword'].touched)">
                        {{requiredMessage}}
                    </p>
                    <p class="mat-error mb-2 ml-3" *ngIf="isOldPwdMatchedWithNewPwd">{{oldAndNewpassword}}
                    </p>
                    <p class="mat-error"
                        *ngIf="!passwordform.get('newpassword').hasError('whitespace') && passwordform.controls['newpassword'].hasError('minlength') && !isNewPassword">
                        {{minLengthMessage}}
                    </p>
                    <small class="mat-error"
                    *ngIf="passwordform.get('newpassword').hasError('whitespace')">{{validFormatMessage}}
                </small>
                </div>
            </div>
            <div class="row">
                <div class="ml-3 lablestyle col-2 mt-2"></div>
                <div class="col-8" class="mat-error" *ngIf="isNewPassword">
                    <p class="mat-error ml-3">{{oldAndNewpassword}}</p>
                </div>
            </div>
            <div class="row pt-4">
                <!-- <div class="ml-3 lablestyle col-2 mt-2">Confirm Password</div> -->
                <div class="ml-3 labelstyle col-2">Confirm Password</div>
                <div class="col-8">
                    <input type="password" class="input-field" matInput [type]="hideConfirmPwd ? 'password':'text'"
                        required formControlName="confirmpassword"  (keydown)="ConSpace($event)" autocomplete="off"
                        readonly onfocus="this.removeAttribute('readonly');" placeholder="Confirm password *">
                    <span class="col-1 pull-right mat-icon-hide" mat-icon-button matSuffix
                        (click)="showOrHidePassword('confirmpassword')" [attr.aria-label]="'Confirm Password'"
                        [attr.aria-pressed]="hideConfirmPwd">
                        <mat-icon class="mat-eye-icon">{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </span>
                    <p class="mat-error"
                        *ngIf="passwordform.controls['confirmpassword'].invalid && passwordform.controls['confirmpassword'].errors.required && (passwordform.controls['confirmpassword'].dirty || passwordform.controls['confirmpassword'].touched)">
                        {{requiredMessage}}
                    </p><br>
                    <p class="mat-error"
                        *ngIf="passwordform.hasError('notSame') && (passwordform.controls['confirmpassword'].dirty || passwordform.controls['confirmpassword'].touched) && passwordform.get('confirmpassword').value.length > 0">
                        {{passwordNotMatch}}
                    </p>
                    <small class="mat-error"
                    *ngIf="passwordform.get('confirmpassword').hasError('whitespace')">{{validFormatMessage}}
                </small>
                </div>
            </div>
            <div class="row">
                <div class="ml-3 lablestyle col-2 mb-2"></div>
                <div class="btns col-8 px-3">
                    <button class="btn btn-confirm" [disabled]="!passwordform.valid || isNewPassword"
                        (click)="changePassword()"> Submit
                    </button>
                    <button class="btn btn-cancel" type="reset" (click)="resetChangePassword()"> Reset
                    </button>
                </div>
            </div>

        </form>
    </div>
</section>