.userAttendanceReport {
  margin-bottom: 135px;

  .search {
    .h-60 {
      height: 60px;
      width: 250px;
      padding: 0 10px 0 10px;
    }

    .fixed-btn {
      // position: absolute;
      // bottom: 13px;

      .mat-flat-button[disabled][disabled] {
        background-color: rgba(0, 0, 0, .26);
      }

      .mat-flat-button {
        // line-height: 30px;
        line-height: 25px;
      }

      button {
        width: 68px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }

      .sbmt-btn {
        background-color: #09407d;
        color: white;
      }
    }
  }

  .card_section {
    display: flex;
    justify-content: space-evenly;

    .profile_card {
      background-color: #b2c7d93d;
      border-radius: 10px;
      height: 90px;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px !important;

      .Emp_Details {
        h3 {
          color: #065429f2;
        }
      }

      img {
        border-radius: 45px;
      }
    }

    .average_card {
      background-color: #edf7ff3d;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      p {
        font-weight: 700;
        font-size: 15px !important;
        color: #003d71;
        // padding-top: 10px;
      }

      h4 {
        color: #109fe3f2;
        font-size: 17px !important;
      }

      span {
        color: #22917c;
        font-size: 13px !important;
      }
    }
  }

  .leave_type_table {
    .card {

      // overflow-x: auto;
      // overflow-y: auto;
      // max-height: 448px;
      .LeaveTypescroll {
        overflow: auto;
        max-height: 338px;
      }
    }
  }

  .chart {
    #container {
      min-width: 640px;

      .highcharts-container {
        .highcharts-root {
          .highcharts-credits {
            display: none !important;
          }
        }

      }

    }

    div {

      .card-style {
        // width : 570px;
        // height    : 460px;
        // padding: 10px;
        // overflow-x: auto;
        min-width: 250px;
        cursor: default;

        div {
          overflow-x: auto;
        }

        #container {
          min-width: 640px;

          .highcharts-container {
            .highcharts-root {
              .highcharts-credits {
                display: none !important;
              }
            }

          }

        }


        h3 {
          text-align: center;
          background-color: #e4eaee;
          padding: 6px;
          color: #003d71;
        }
      }

      mat-header-cell {
        // background-color: #0f64c2;
        // color           : white;
        // font-size       : 14px;
        background-color: #e4eaee;
        color: #003d71;
        font-size: 15px;
      }

      ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
        opacity: 0.03 !important;
        background-color: #005691 !important;
      }

      ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
      .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #0c0413;
      }

      ::ng-deep .mat-sort-header-arrow {
        color: #000;
      }

      td.mat-cell,
      td.mat-footer-cell,
      th.mat-header-cell {
        border-bottom-style: none;
      }

      .mat-column-email {
        word-wrap: break-word !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        padding-right: 10px !important;
      }
    }
  }

  .totaldays {
    // width: 34px;
    height: 34px;
    margin-left: 2px;
    overflow: hidden;
    box-shadow: none;
    background-color: #ffce41;
    border-radius: 24px;
  }

  .overwritestyle {
    .expandablerowstyle {
      .heading {
        color: #016ee8c4;
        font-weight: 600;
        font-size: 18px;
      }

      .main-timeline {
        // font-family: 'Poppins', sans-serif;
        padding: 14px 160px;

        &:after {
          content: '';
          display: block;
          clear: both;
        }

        .timeline {
          width: calc(50% + 9px);
          padding: 20px 30px 20px 0;
          margin: -20px 0 0 0;
          border-radius: 20px;
          border: 10px solid transparent;
          border-right: 10px solid #c2cade;
          float: left;
          position: relative;

          &:before {
            content: '';
            background-color: #4aa3ff;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            position: absolute;
            right: -18px;
            bottom: 40px;
          }

          &:after {
            content: '';
            background-color: #4aa3ff;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            position: absolute;
            right: -18px;
            bottom: 40px;
            border-radius: 3px;
            transform: rotate(45deg);
            right: 20px;
          }

          &:nth-child(even) {
            float: right;
            padding: 20px 0 20px 30px;
            margin: -20px 0 0 0;
            border-right: none;
            border-left: 10px solid #00214c;

            &:before {
              right: auto;
              left: -18px;
            }

            &:after {
              right: auto;
              left: 20px;
            }

            .timeline-icon {
              right: auto;
              left: 16px;
            }

            .description {
              margin: 20px 20px 0 80px;
            }
          }

          &:nth-child(4n+2) {
            &:before {
              background-color: #4aa3ff;
            }

            &:after {
              background-color: #4aa3ff;
            }

            .timeline-content {
              background: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
            }

            .title {
              color: #00214c;
            }
          }

          &:nth-child(4n+3) {
            &:before {
              background-color: #4aa3ff;
            }

            &:after {
              background-color: #4aa3ff;
            }

            .timeline-content {
              background: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
            }

            .title {
              color: #00214c;
            }
          }

          &:nth-child(4n+4) {
            &:before {
              background-color: #4aa3ff;
            }

            &:after {
              background-color: #4aa3ff;
            }

            .timeline-content {
              background: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
            }

            .title {
              color: #00214c;
            }
          }

          .img-width {
            width: 55px;
          }
        }

        .timeline-content {
          color: #fff;
          background: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
          // background: #00214c;
          min-height: 130px;
          padding: 0 0 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          border-radius: 20px;
          display: block;
          overflow: hidden;
          position: relative;
          z-index: 1;

          &:hover {
            text-decoration: none;
          }
        }

        .timeline-icon {
          font-size: 40px;
          line-height: 40px;
          position: absolute;
          bottom: 15px;
          right: 16px;
        }

        .title {
          color: #00214c;
          background-color: #fff;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-align: center;
          text-transform: uppercase;
          padding: 12px;
          margin: 0 0 5px;
        }

        .description {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 20px;
          margin: 20px 80px 0 20px;
        }
      }

      @media screen and (max-width:767px) {
        .main-timeline {
          .timeline {
            width: 100%;
            padding: 20px 0 20px 30px;
            margin: -25px 0 0;
            border-left: 10px solid #00214c;
            border-right: none;

            &:nth-child(even) {
              width: 100%;
              padding: 20px 0 20px 30px;
              margin: -25px 0 0;
              border-left: 10px solid #00214c;
              border-right: none;

              &:before {
                right: auto;
                left: -17px;
              }

              &:after {
                right: auto;
                left: 20px;
              }

              .description {
                margin: 20px 20px 0 80px;
              }

              .timeline-icon {
                left: 16px;
                right: auto;
              }
            }

            &:before {
              right: auto;
              left: -17px;
            }

            &:after {
              right: auto;
              left: 20px;
            }
          }

          .description {
            margin: 20px 20px 0 80px;
          }

          .timeline-icon {
            left: 16px;
            right: auto;
          }
        }
      }

      @media screen and (max-width:576px) {
        .main-timeline {
          .timeline-content {
            padding-bottom: 70px;
          }

          .description {
            margin: 20px 20px 0 20px;
          }

          .timeline {
            &:nth-child(even) {
              .description {
                margin: 20px 20px 0 20px;
              }
            }
          }
        }
      }

    }

    .bottom-space {
      margin-bottom: 150px;
    }
  }

  .page-header {
    .d-flex {
      .inactive_jobs_by_status {
        display: inline-block;
        border-radius: 5px;
        border: none;
        background: #C31A31;
        color: #fff;
        text-align: center;
        box-shadow: 0px 14px 56px -11px #0054b7;
        width: 4em;
        transition: all 0.8s;
        cursor: pointer;
        line-height: 0px;
        top: -5px !important;
        height: 30px;

        mat-icon {
          font-size: 18px;
          position: relative;
          top: 3px;
        }

      }
    }
  }

  .inactive_jobs_by_status div {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
  }


}


button:disabled,
button[disabled] {
  cursor: not-allowed;
}