<div class="delete">
  <div class="dialog-header">
    <h3 class="page-title">Job Delete</h3>
    <span class="pull-right cls-btn">
      <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
        type="button">close</mat-icon>
    </span>
  </div>
  <div mat-dialog-content>
    <div>Are you sure want to delete ?</div>
    <small class="red">If you delete the job,this job will be delete permanently deleted with assignees details </small>
  </div>
  <div align="end" class="dialog-btns p-3">
    <button mat-flat-button color="warn" mat-dialog-close class="mx-2">Cancel</button>
    <button mat-flat-button class="cnfm-btn">Confirm</button>
  </div>
</div>