<div class="video">
  <div class="dialog-header">
    <h3 class="page-title">Whatsapp Integration Demo Video</h3>
    <span class="pull-right cls-btn">
      <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
        type="button">close</mat-icon>
    </span>
  </div>
  <div mat-dialog-content>
    <div class="text-center">
      <video width="550" height="350" controls>
        <source src="..//../..//..//assets/videos/WhatsAppIntegration1.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div align="end" class="dialog-btns mr-4 mb-2">
    <button mat-flat-button mat-dialog-close class="cnfm-btn">Skip</button>
  </div>
</div>