<section class="d-flex align-items-center h-75 unavailable-page">
    <!-- <div class="row"> -->
    <!-- <div class="col-2"></div> -->
    <div class="content">
        <img src="../../../assets/images/503_Error_Service.png" alt="unavailable image">
        <div class="mt-4">
            <div class="mt-1">
                <h3><b>Your Organization's Subscription Plan Has Expired!</b></h3>
            </div>
        </div>
        <div class="mt-2">
            <a [routerLink]="['/subscription']">Renew plan</a>
            <button (click)="reloadPage()"><span>Refresh the page</span></button>
        </div>
    </div>
    <!-- <div class="col-2"></div> -->
    <!-- </div> -->
</section>