<section class="w-100 d-contents bil-section">
    <!-- *** Total worked hours based on projects -->
    <div *ngIf="isShown" class="col-md-6 col-sm-12 col-lg-6 p-0">
        <div class="ng-star-inserted card my-2 card-style ">
            <h3>Overall Billable/Non Billable</h3>
            <div *ngIf="!No_Data_Found" id="monthly_bill_hours"></div>
            <div *ngIf="No_Data_Found" class="text-center">
                <img width="300" src="../../assets/images/No data.png" alt="no data" class="pr-menu-icon">
                <div>{{nodataMsg}}</div>
            </div>
        </div>
    </div>

    <!-- **** My billable/ nonbillable-->
    <div class="col-md-6 col-sm-12 col-lg-6 p-0">
        <div class="ng-star-inserted card my-2 card-style ">
            <h3>My Billable/Non Billable</h3>
            <div *ngIf="!No_Data_Found_mybillable" id="bill_status"></div>
            <div *ngIf="No_Data_Found_mybillable" class="text-center">
                <img width="300" src="../../assets/images/No data.png" alt="no data" class="pr-menu-icon">
                <div>{{nodataMsg}}</div>
            </div>
        </div>
    </div>
</section>