<div class="dialog-header">
    <h3 class="page-title" *ngIf="isPaused =='pause'">{{pauseIntegration}}</h3>
    <h3 class="page-title" *ngIf="isPaused == 'resume'">{{resumeIntegration}}</h3>
    <span class="pull-right cls-btn">
        <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
            type="button">close</mat-icon>
    </span>
</div>
<div mat-dialog-content>
    <div *ngIf="isPaused =='pause'" class="dialog-question">{{pauseContent}}</div>
    <div *ngIf="isPaused =='resume'" class="dialog-question">{{resumeContent}}</div>
</div>
<div align="end" class="dialog-btns p-3">
    <button mat-flat-button color="warn" mat-dialog-close class="mx-2">Cancel</button>
    <button mat-flat-button (click)="pauseOrResume()" class="cnfm-btn">Confirm</button>
</div>