<div class="page-header">
    <div class="row">
        <div class="col-6 col-md-6">
            <h3 class="page-title">Time Tracker settings</h3>
        </div>

    </div>
</div>
<section class="tt-settings">
    <div class="lt-card-section">
        <div class="col-md-12 mb-3">
            <div class="cardHead">
                <div class="card-setting-container mx-0 px-0 my-4">
                    <div class="col-3 col-md-3 col-lg-3 divStyle mt-4" (click)="togglecards('manage-notification')">
                        <div class="card"
                            [ngStyle]="{'background-color':isActiveManasgeNotification?'#00214c':'#ffffff' }">
                            <div class="content">
                                <div class="imgBx" *ngIf="isActiveManasgeNotification == true">
                                    <img src="../../../assets/images/today_leaves__white.png">
                                </div>
                                <div class="imgBx" *ngIf="isActiveManasgeNotification == false">
                                    <img src="../../../assets/images/today_leave_black.png">
                                </div>
                                <div class="contentBx">
                                    <h3 *ngIf="isActiveManasgeNotification" style="color: white !important;">
                                        Manage Notification</h3>
                                    <h3 *ngIf="!isActiveManasgeNotification" style="color:#7f8291 !important;">
                                        Manage Notification
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 col-md-3 col-lg-3 divStyle mt-4" (click)="togglecards('manage-mail')">
                        <div class="card" [ngStyle]="{'background-color':isActiveMailConfig?'#00214c':'#ffffff' }">
                            <div class="content">
                                <div class="imgBx" *ngIf="isActiveMailConfig == true">
                                    <img src="../../../assets/images/mail-white.png">
                                </div>
                                <div class="imgBx" *ngIf="isActiveMailConfig == false">
                                    <img src="../../../assets/images/mail.png">
                                </div>
                                <div class="contentBx">
                                    <h3 *ngIf="isActiveMailConfig" style="color: white !important;">
                                        Manage Mail</h3>
                                    <h3 *ngIf="!isActiveMailConfig" style="color:#7f8291 !important;">
                                        Manage Mail
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid manage-notification-config" *ngIf="isActiveManasgeNotification == true">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="col-7 header-style">Application Notification</h5>
        </div>
        <div class="card-body2">
            <div class="row  mx-3 py-3">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-body2 manage-leave-notify">
                            
                            <div class="row  mx-3 pt-4">
                                <div class="col-md-3">
                                    <b>Timesheet Summary</b>
                                </div>
                                <div class="col-md-9">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" [(ngModel)]="isReminderForCheckin">
                                        <mat-radio-button class="example-radio-button mr-3"
                                            *ngFor="let option of yesOrNoOption" [value]="option"
                                            (change)="radioButtonClickedAppNotification($event)">
                                            {{option}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row mx-3 pb-3">
                                <div class="col-md-3"></div>
                                <div class="col-md-9" [innerHTML]="manageNotificationNoteMessage">
                                    <!-- <small>If you choose <b>"Yes"</b>it will show today
                                        leave
                                        users list once a day.</small> -->
                                </div>
                            </div>
                            <div class="row mx-3" *ngIf="isReminderForCheckin == 'Yes' ">
                                <div class="col-md-3"><b>Access Users</b></div>
                                <mat-form-field style="width: 100%;" appearance="outline" class="col-md-6">
                                    <mat-select [formControl]="AssigneeCtrl" placeholder="Select Users" [(ngModel)]="managerselectedItems" 
                                    (ngModelChange)="managerfunction($event)" #leaveselect multiple >
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="AssigneeFilterCtrl"
                                                placeholderLabel="Search Users..." noEntriesFoundLabel="'no match found'">
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <div class="select-all pl-3">
                                            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                                              (change)="toggleAllSelection()">Select All</mat-checkbox>
                                          </div>
                                        <mat-option *ngFor="let data of filteredAssignee | async" [value]="data.id">
                                            {{data.firstname}} {{data.lastname}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error class="errorfix" *ngIf="AssigneeCtrl.hasError('required')">{{requiredMessage}}</mat-error> -->
                                </mat-form-field>
                                <!-- <span class="col-md-3 mat-filter-refresh-btn users_btn">
                                    <button matTooltip="Users" (click)="UsersDialog()" mat-icon-button
                                        class="example-icon action-btn">
                                        <mat-icon class="pr-menu-icon">supervisor_account
                                                </mat-icon>
                                        </button>
                                </span> -->
                            </div>
                            <div class="row mx-3 pb-3">
                                <div class="col-md-12">
                                    <div class="btns">
                                        <!-- !yesOrNoAppNotification || !usersCheckBox && -->
                                        <button class="btn btn-confirm" *ngIf="isReminderForCheckin == 'Yes'" [disabled]="managerselectedItems.length == 0 || (!yesOrNoAppNotification || !usersCheckBox)"
                                            (click)="todayNotSubmittedUserCreateOrUpdate()">Save changes</button>
                                            <button class="btn btn-confirm" *ngIf="isReminderForCheckin == 'No'" [disabled] ="!yesOrNoAppNotification || !usersCheckBox"
                                            (click)="todayNotSubmittedUserCreateOrUpdate()">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="container-fluid manage-mail-config" *ngIf="isActiveMailConfig == true">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="col-7 header-style">Email Notification</h5>
        </div>
        <div class="card-body2">
            <div class="row  mx-3 pt-3">
                <!-- <div class="col-3">
                    <b>Notify Mail For Time Tracker : </b>
                </div> -->
                <div class="col-md-12 radio-btn-style">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        [disabled]="notifyDisable"
                        [matTooltip]="notifyDisable ? 'Please verify the mail integration':''"
                        [(ngModel)]="isRemainderMailConfig">
                        <mat-radio-button class="example-radio-button mr-3" *ngFor="let option of yesOrNoOption"
                            [value]="option" (change)="radioButtonClickedManageMail($event)">
                            {{option}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row mx-3 pb-3">
                <!-- <div class="col-3"></div> -->
                <div class="col-md-12" [innerHTML]="mailNoteMessage">

                    <!-- <small>If you choose <b>Yes</b>, user will receive mail notification for time tracker</small> -->
                </div>
            </div>
            <div class="row mx-3 pb-3">
                <div class="col-10">
                    <div class="btns">
                        <button class="btn btn-confirm" [disabled]="!yesOrNoMailConfig"
                            (click)="SaveOrUpdateTimeTrackerMailConfig()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>