<div class="dialog-header">
    <h3 class="page-title">Warning organization user limit exceeded !</h3>
    <span class="pull-right cls-btn">
        <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
            type="button">close</mat-icon>
    </span>
</div>
<div mat-dialog-content>
    <div class="dialog-question mb-2">If you onboard more users that will increase your pricing based on organization users count. </div>
    <div class="dialog-hint-content"></div>
</div>
<div align="end" class="dialog-btns px-3 mb-3">
    <!-- <button mat-flat-button color="warn" mat-dialog-close class="mx-2">Skip</button> -->
    <button mat-flat-button class="cnfm-btn" mat-dialog-close >Ok</button>
</div>