<h3 class="">No Attendance Actions Available ! <span class="pull-right cncl-btn">
    <mat-icon mat-dialog-close matTooltip="Close" class="mat-icon notranslate material-icons mat-icon-no-color"
      type="button">close</mat-icon>
  </span></h3>
<div class="px-4">To create your own action cards click <strong>"Manage Actions"</strong> button</div>
<div class="px-4">Or</div>
<div class="px-4">To get default action cards for all section click <strong>"Default Actions"</strong> button</div>
<div class="btns p-3">
    <button mat-flat-button  class="manage-btn mx-2" (click)="manageAttendance()">Manage Actions</button>
    <button mat-flat-button (click)="defaultcardPost()" class=" default-btn">Default Actions</button>
  </div>