<div *ngIf="isForgotPassword && !isConfirmPassword">
    <section class="responsive_forgotpassword">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <form class="card mt-4 shadow" [formGroup]="emailform">
                        <div class="card-body">
                            <h2>
                                <img src="../../assets/images/App_logo.png" alt="Image" class="img-fluid">
                                Forgot your password?
                            </h2>
                            <div class="mb-3 mt-5">
                                <label for="email">Email</label>
                                <input type="text" class="mb-2 input-field" placeholder="Enter valid mail address"
                                    name="email" required formControlName="email">
                                <p class="mat-error mb-2"
                                    *ngIf="emailform.controls['email'].invalid && emailform.controls['email'].errors.required && (emailform.controls['email'].dirty || emailform.controls['email'].touched)">
                                    {{requiredMessage}}
                                </p>
                                <p class="mat-error mb-2" *ngIf="emailform.get('email').errors?.email ">
                                    {{invalidFormatMsg}}
                                </p>
                            </div>
                        </div>
                        <div class="card-footer"> <button class="btn btn-blue" [disabled]="!emailform.valid"
                                (click)="sendmail(emailform.value)">Get OTP</button> <button
                                class="btn btn-danger" [routerLink]="['/login']">Back to Login</button>
                            <a href="https://tcube.io" target="_blank">
                                <mat-icon class="pull-right mt-2" aria-hidden="false" matTooltip="Visit home page"
                                    matTooltipPosition="below" aria-label="Example home icon"
                                    fontIcon="home">home</mat-icon></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

 <!-- Displaying the OTP field  -->
<div *ngIf="!isForgotPassword && !isConfirmPassword">
    <section class="responsive_forgotpassword">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <form class="card mt-4 shadow" [formGroup]="otpform">
                        <div class="card-body">
                            <h2>
                                <img src="../../assets/images/App_logo.png" alt="Image" class="img-fluid">
                                OTP VERIFICATION
                            </h2>
                            <div class="mb-3 mt-5">
                                <label>Please enter OTP to verify</label>
                                <div class="otp-input-fields">
                                    <input type="text" name="otp" required formControlName="otpBox1"
                                        class="otp__digit otp__field__1" #OtpInput1 maxlength="1" size="1"
                                        (input)="onInputEntry($event, OtpInput2)" />
                                    <input type="text" name="otp" required formControlName="otpBox2"
                                        class="otp__digit otp__field__2" #OtpInput2 maxlength="1" size="1"
                                        (input)="onInputEntry($event, OtpInput3)" />
                                    <input type="text" name="otp" required formControlName="otpBox3"
                                        class="otp__digit otp__field__3" #OtpInput3 maxlength="1" size="1"
                                        (input)="onInputEntry($event, OtpInput4)" />
                                    <input type="text" name="otp" required formControlName="otpBox4"
                                        class="otp__digit otp__field__4" #OtpInput4 maxlength="1" size="1"
                                        (input)="onInputEntry($event, OtpInput5)" />
                                    <input type="text" name="otp" required formControlName="otpBox5"
                                        class="otp__digit otp__field__5" #OtpInput5 maxlength="1" size="1"
                                        (input)="onInputEntry($event, OtpInput6)" />
                                    <input type="text" name="otp" required formControlName="otpBox6"
                                        class="otp__digit otp__field__6" #OtpInput6 maxlength="1" size="1" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                         <button class="btn btn-blue" *ngIf="displayTimer">{{ display }}</button>
                        <button class="btn btn-blue" *ngIf="resendOtp" (click)="startCountdown()">Resend OTP</button>
                        <!-- </div>
                        <div class="card-footer"> -->
                             <button class="btn btn-blue" [disabled]="!otpform.valid"
                                (click)="otpVerification(otpform.value)">Verify</button>
                            <!-- <button class="btn btn-danger" [routerLink]="['/login']">Cancel</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Confirm Password -->
<div *ngIf="!isForgotPassword && isConfirmPassword">
    <section class="responsive_forgotpassword">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <form class="card mt-4 shadow" [formGroup]="passwordform">
                        <div class="card-body">
                            <h2>
                                <img src="../../assets/images/App_logo.png" alt="Image" class="img-fluid">
                                Confirm Password
                            </h2>
                            <div class="row pt-4">
                                <!-- <div class="ml-3 lablestyle col-2 mt-2">New Password</div> -->
                                <div class="ml-3 labelstyle col-3 mt-3">New Password</div>
                                <div class="col-8">
                                    <input type="password" class="input-field" matInput
                                        [type]="hideNewPwd ? 'password':'text'" required formControlName="newpassword"
                                         (keydown)="NewSpace($event)">
                                    <span class="mat-icon-hide" mat-icon-button matSuffix
                                        (click)="showOrHidePassword('newpassword')" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hideNewPwd">
                                        <mat-icon class="mat-eye-icon">{{hideNewPwd ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>
                                    </span>
                                    <mat-error>
                                        <div
                                            *ngIf="passwordform.controls['newpassword'].invalid && passwordform.controls['newpassword'].errors.required && (passwordform.controls['newpassword'].dirty || passwordform.controls['newpassword'].touched)">
                                            <p> {{requiredMessage}}</p>
                                        </div>
                                        <!-- <p class="mat-error mb-2 ml-3" *ngIf="isOldPwdMatchedWithNewPwd">
                                        {{oldAndNewpassword}}
                                    </p> -->
                                        <div
                                            *ngIf="!passwordform.get('newpassword').hasError('whitespace') && passwordform.controls['newpassword'].hasError('minlength')">
                                            <p>{{minLengthMessage}}
                                            </p>
                                        </div>
                                        <small class="mat-error"
                                            *ngIf="passwordform.get('newpassword').hasError('whitespace')">{{invalidFormatMsg}}
                                        </small>
                                    </mat-error>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="ml-3 lablestyle col-2 mt-2"></div>
                                <div class="col-8" class="mat-error" *ngIf="isNewPassword">
                                    <p class="mat-error ml-3">{{oldAndNewpassword}}</p>
                                </div>
                            </div> -->
                            <div class="row pt-4">
                                <!-- <div class="ml-3 lablestyle col-2 mt-2">Confirm Password</div> -->
                                <div class="ml-3 labelstyle col-3 mt-3">Confirm Password</div>
                                <div class="col-8">
                                    <input type="password" class="input-field" matInput
                                        [type]="hideConfirmPwd ? 'password':'text'" required
                                        formControlName="confirmpassword" (keydown)="ConSpace($event)">
                                    <span class="mat-icon-hide" mat-icon-button matSuffix
                                        (click)="showOrHidePassword('confirmpassword')"
                                        [attr.aria-label]="'Confirm Password'" [attr.aria-pressed]="hideConfirmPwd">
                                        <mat-icon class="mat-eye-icon">{{hideConfirmPwd ? 'visibility_off' :
                                            'visibility'}}
                                        </mat-icon>
                                    </span>
                                    <mat-error>
                                        <div
                                            *ngIf="passwordform.controls['confirmpassword'].invalid && passwordform.controls['confirmpassword'].errors.required && (passwordform.controls['confirmpassword'].dirty || passwordform.controls['confirmpassword'].touched)">
                                            <p> {{requiredMessage}} </p><br>
                                        </div>
                                        <div
                                            *ngIf="passwordform.hasError('notSame') && (passwordform.controls['confirmpassword'].dirty || passwordform.controls['confirmpassword'].touched) && passwordform.get('confirmpassword').value.length > 0">
                                            <p>{{passwordNotMatch}} </p>
                                        </div>
                                        <small class="mat-error"
                                        *ngIf="passwordform.get('confirmpassword').hasError('whitespace')">{{invalidFormatMsg}}
                                    </small>
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-blue" [disabled]="passwordform.invalid"
                                (click)="changePassword(passwordform.value)">Submit</button>
                            <button class="btn btn-danger" [routerLink]="['/login']">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>